# General formatting options
IndentWidth: 4        # Replace spaces with 4 spaces (you wanted tabs, but clang-format uses tabs when UseTab is set)
TabWidth: 4           # Use 4 spaces per tab
UseTab: Always        # Always use tabs for indentation

# Break options
ColumnLimit: 100  # Limit lines to 100 characters

# Alignment and indentation
AlignOperands: true  # Align operands for better readability
AlignTrailingComments: false  # Do not align trailing comments
ContinuationIndentWidth: 4  # Indent continuation lines by 4 spaces (will be tabs in your case)

# Function formatting
BraceWrapping:
  AfterFunction: false  # Keep the opening brace on the same line as the function definition
  AfterClass: true      # Opening brace for classes will be on the next line
  AfterControlStatement: true  # Opening brace for control statements will be on the next line
  AfterEnum: true       # Opening brace for enums will be on the next line
  AfterNamespace: true  # Opening brace for namespaces will be on the next line
  AfterStruct: true     # Opening brace for structs will be on the next line
  AfterUnion: true      # Opening brace for unions will be on the next line
  BeforeElse: false     # Don't break before else
  BeforeCatch: false    # Don't break before catch

# Function style
AllowShortFunctionsOnASingleLine: None  # Disable short functions on a single line

# Extra settings (if you want to further tweak them later)
SortIncludes: false  # Keep includes in their original order
ReflowComments: true  # Enable reflow of comments
IndentCaseLabels: false  # No special indentation for case labels

